---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rhdh-kubernetes-plugin
  namespace: {{.Release.Namespace}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: rhdh-kubernetes-plugin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - kind: ServiceAccount
    name: rhdh-kubernetes-plugin
    namespace: {{.Release.Namespace}}
---
apiVersion: v1
kind: Secret
metadata:
  name: rhdh-kubernetes-plugin-token
  annotations:
    kubernetes.io/service-account.name: rhdh-kubernetes-plugin
type: kubernetes.io/service-account-token